.html
{
	background-color: #FFFFFF;
	background: -webkit-gradient(linear, center top, center bottom, from(#FFFFFF),color-stop(100%, #003356));
	background: -webkit-linear-gradient(top,#FFFFFF ,#003356 100%);
	background: -moz-linear-gradient(top,#FFFFFF ,#003356 100%);
	background: -ms-linear-gradient(top,#FFFFFF ,#003356 100%);
	background: -o-linear-gradient(top,#FFFFFF ,#003356 100%);
	background: linear-gradient(to bottom,#FFFFFF ,#003356 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFFFF, endColorstr=#FF003356, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FF003356', GradientType=0)";
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 2500px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: 276px;
}

#pu725
{
	width: 0.01px;
	position: relative;
}

#u725
{
	z-index: 2;
	width: 960px;
	position: relative;
	margin-right: -10000px;
}

#u180-8
{
	z-index: 59;
	width: 201px;
	min-height: 60px;
	text-align: right;
	font-size: 13px;
	line-height: 16px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 118px;
	left: 746px;
}

#u180-2
{
	color: #C1272D;
}

#u470-4
{
	z-index: 67;
	width: 190px;
	min-height: 5px;
	color: #000000;
	font-size: 20px;
	position: relative;
	margin-right: -10000px;
	left: 430px;
}

#u721-4
{
	z-index: 91;
	width: 45px;
	min-height: 21px;
	color: #0071BC;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 137px;
	left: 16px;
}

#u722-4
{
	z-index: 95;
	width: 46px;
	min-height: 21px;
	color: #0071BC;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 137px;
	left: 97px;
}

#u723-4
{
	z-index: 99;
	width: 87px;
	min-height: 21px;
	color: #0071BC;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 137px;
	left: 179px;
}

#u724-4
{
	z-index: 103;
	width: 103px;
	min-height: 21px;
	color: #0071BC;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 137px;
	left: 284px;
}

#pu79-4
{
	width: 0.01px;
	margin-left: 16px;
	margin-top: 15px;
	position: relative;
}

#u79-4
{
	z-index: 4;
	width: 618px;
	min-height: 71px;
	color: #990012;
	font-size: 25px;
	line-height: 30px;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
}

#u91-11
{
	z-index: 8;
	width: 355px;
	min-height: 181px;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 129px;
	left: 9px;
}

#u91-5,#u91-6
{
	font-size: 15px;
	line-height: 18px;
	font-weight: bold;
}

#u91-9
{
	font-size: 15px;
	line-height: 19px;
	font-weight: bold;
}

#u91-8
{
	font-weight: normal;
}

#u93-26
{
	z-index: 19;
	width: 598px;
	min-height: 589px;
	font-size: 15px;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 312px;
	left: 9px;
}

#u180-4,#u93-2,#u93-6,#u93-13
{
	font-weight: bold;
}

#u93-5,#u93-8,#u93-9,#u93-11,#u93-12,#u93-15,#u93-16,#u93-18,#u93-19
{
	line-height: 18px;
}

#u93-4,#u93-24
{
	line-height: 19px;
	font-weight: normal;
}

#u112
{
	z-index: 47;
	width: 300px;
	border-width: 3px;
	border-style: solid;
	border-color: #F9F6F4;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 617px;
	padding: 15px 6px 10.200000000000045px 4px;
}

#u745
{
	z-index: 107;
	width: 300px;
	position: relative;
}

#u892-15
{
	z-index: 138;
	width: 249px;
	min-height: 123px;
	margin-left: 26px;
	margin-top: 107px;
	position: relative;
}

#u892-2
{
	font-size: 16px;
	line-height: 19px;
	color: #0071BC;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	font-weight: bold;
}

#u892-3,#u892-7,#u892-8,#u892-12
{
	color: #0071BC;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	font-weight: bold;
}

#u781
{
	z-index: 109;
	width: 250px;
	position: relative;
	margin-right: -10000px;
	margin-top: 148px;
	left: 364px;
}

#u787-4
{
	z-index: 111;
	width: 300px;
	min-height: 60px;
	text-align: center;
	color: #0071BC;
	line-height: 24px;
	font-size: 20px;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 326px;
	left: 625px;
}

#u845
{
	z-index: 130;
	width: 406px;
	position: relative;
	margin-right: -10000px;
	margin-top: 71px;
	left: 105px;
}

#u850-4
{
	z-index: 132;
	width: 103px;
	min-height: 8px;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 83px;
	left: 9px;
}

#u904-8
{
	z-index: 153;
	width: 598px;
	min-height: 43px;
	background-color: #FCEE21;
	line-height: 18px;
	color: #C1272D;
	font-size: 15px;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	font-weight: bold;
	font-style: italic;
	margin-left: 25px;
	margin-top: 10px;
	position: relative;
}

#u904-2
{
	color: #000000;
}

#u835
{
	z-index: 128;
	width: 600px;
	margin-left: 18px;
	margin-top: 10px;
	position: relative;
}

#u823-7
{
	z-index: 115;
	width: 659px;
	font-size: 15px;
	line-height: 19px;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	margin-left: 35px;
	margin-top: 6px;
	position: relative;
}

#u872
{
	z-index: 136;
	width: 318px;
	margin-left: 35px;
	margin-top: 18px;
	position: relative;
}

#u826-4
{
	z-index: 124;
	width: 135px;
	min-height: 20px;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	margin-left: 35px;
	margin-top: 18px;
	position: relative;
}

#u824
{
	z-index: 122;
	width: 729px;
	margin-left: 126px;
	margin-top: 173px;
	position: relative;
}

#pu99
{
	width: 0.01px;
	margin-left: 14px;
	margin-top: 42px;
	position: relative;
}

#u99
{
	z-index: 45;
	width: 920px;
	position: relative;
	margin-right: -10000px;
}

#u123-4
{
	z-index: 48;
	width: 117px;
	min-height: 21px;
	color: #0071BC;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 487px;
}

#u649-4
{
	z-index: 71;
	width: 45px;
	min-height: 21px;
	color: #0071BC;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 21px;
}

#u650-4
{
	z-index: 75;
	width: 44px;
	min-height: 21px;
	color: #0071BC;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 111px;
}

#u651-4
{
	z-index: 79;
	width: 89px;
	min-height: 21px;
	color: #0071BC;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 182px;
}

#u652-4
{
	z-index: 83;
	width: 110px;
	min-height: 21px;
	color: #0071BC;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 286px;
}

#u653-4
{
	z-index: 87;
	width: 55px;
	min-height: 21px;
	color: #0071BC;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 411px;
}

#u721,#u722,#u723,#u724,#u123,#u649,#u650,#u651,#u652,#u653
{
	text-decoration: underline;
}

#u124-7
{
	z-index: 52;
	width: 822px;
	min-height: 198px;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	margin-left: 59px;
	margin-top: 5px;
	position: relative;
}

#u124-2
{
	font-size: 27px;
	text-align: center;
	line-height: 32px;
	color: #000000;
}

body
{
	padding-top: 10px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

